body{
	/*background: #f0f0ff url(bg.jpg) repeat-x;*/
	background: #bfd2e3;

	font: 12px/1.7em Arial, Tahoma, Arial, Geneva, sans-serif;
	color: #666666; 
	text-align: center;
	margin: 0 0 50px 0;
}

html, body{ height:100%;}

.alert {
    margin-top: 10px;
}
body.inicio {background: #eff7ef}

.container{
	width: 705px;
	height: 770px;
	padding: 20px;
	border:solid 1px #999;
	margin:auto;
	background-color: #eff7ef;
}
#slider{
	position:relative;
	width: 680px;
	height: 200px;
	padding: 10px;
	background-color: #f1f1f1;
	margin: 0 auto;
}
#slider > div{
	position:absolute;
	width: 100%;
	height: 100%;
}
#menu{
	position:relative;
	width: 680px;
	height: 10px;
	padding: 10px;
	background-color: #bfd2e3;
	margin: 0 auto;

}
#button{
	padding: 0;
}
#button li{
	display: inline;
}
#button li a{
	font-family: Arial;
	font-size: 16px;
	text-decoration: none;
	float: left;
	padding: 10px;
	background-color: #2175bc;
	color: #fff; 
}
#button li a:hover{
	background-color: #2586d7;
	margin-top: -2px;
	padding-bottom: 12px;
}

#contenido{
	position:relative;
	width: 680px;
	height: 200px;
	padding: 10px;
	background-color: maroon;
	margin: 0 auto;
}

#preview {
    position: relative;
}
#preview a {
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 5px;
    display: none;
}
#file-info {
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 60%;
}
.input[type=file] {
    position: absolute;
    visibility: hidden;
    width: 0;
    z-index: -9999;
}
#file-save {
    text-align:center;
    width: 171px;
}
#files-uploaded ul {
    padding: 0;
}
#files-uploaded ul li {
    list-style: none;
    vertical-align: top;
    display: inline-block;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 4px;
    width: 48%;
    margin-bottom: 5px;
    opacity: 0.6;
    transition: 0.3s linear all;
    position: relative;
}
#files-uploaded ul li:hover {
    opacity: 1;
}
#files-uploaded ul li img {
    width: 100%;
}
#files-uploaded ul li > span {
    width: 100%;
    bottom: 0;
    display: block;
    color: white;
    background: rgba(0,0,0,0.5);
    overflow: hidden;
}
 #files-uploaded ul li > span a {
    color: white;
    margin: 0 8px;
}
#files-uploaded ul li > span a:first-child {
    float: left;
}
#files-uploaded ul li > span a:last-child {
    float: right;
}
.alert {
    margin-top: 10px;
}
#footer {
border-top: 1px solid #aaa;
text-align: center;
color: #333;
font-size: 12px;
padding: 0 0 10px 0;
margin-top: 20px;
}
